<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Календарь производственный на 2024 год – Конструктор</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:title" content="">
      <meta property="og:type" content="">
      <meta property="og:url" content="">
      <meta property="og:image" content="">

      <link rel="icon" href="./vendors/favicon.ico" />

      <!-- Vanilla CSS, JS -->
      <link href="./vendors/vanilla@2.6.1/vanilla-calendar.min.css" rel="stylesheet">
      <script src="./vendors/vanilla@2.6.1/vanilla-calendar.min.js" defer></script>
      
      <!-- Vue CSS, JS -->
      <link href="./vendors/primevue@3.34.1/resources/themes/saga-green/theme.css" rel="stylesheet" />
      <link href="./vendors/primeicons@6.0.1/primeicons.css" rel="stylesheet" />
      <link href="./vendors/primeicons@6.0.1/fonts/primeicons.woff2" as="font" type="font/woff2" rel="preload">
      <script src="./vendors/vue@3.3.4/dist/vue.global.js" defer></script>
      <script src="./vendors/primevue@3.34.1/core/core.min.js" defer></script>
      <script src="./vendors/primevue@3.34.1/button/button.min.js" defer></script>
      <script src="./vendors/primevue@3.34.1/colorpicker/colorpicker.min.js" defer></script>
      <script src="./vendors/primevue@3.34.1/fileupload/fileupload.min.js" defer></script>
      <script src="./vendors/primevue@3.34.1/inputnumber/inputnumber.min.js" defer></script>
      <script src="./vendors/primevue@3.34.1/inputswitch/inputswitch.min.js" defer></script>

      <!-- User CSS, JS -->
      <link href="./style.css" rel="stylesheet">
      <script src="./holidays.js" defer></script>
      <script src="./calendar.js" defer></script>
      <script src="./ui.js" defer></script>
      
      <style type="text/css" id="pageSize"></style>
   </head>
   
   <body id="app" v-cloak>
      <div :class="classParams" :style="styleParams">
         <div id="calendar"></div>
      </div>
      <div id="calendar_preview_year"></div>
      <div id="settings">
         <h1>Календарь производственный<br>(конструктор на <span id="header_year">2024</span> год)</h1>
         
         <div class="label">Фон
            <div>
               <p-fileupload mode="basic" accept="image/*" choose-label="Выбрать" auto custom-upload @select="bgSelect"></p-fileupload>
               <p-button icon="pi pi-times" severity="secondary" :disabled="!bg" @click="bgClear"></p-button>
            </div>
         </div>

         <div class="label" @click.self="openDropdown">Размер бумаги
            <p-dropdown v-model="pageSize" :options="sizes" option-label="label" option-value="value"></p-dropdown>
         </div>
         
         <label>Под обрез
            <p-inputnumber v-model="cutoff" suffix=" мм" show-buttons :min="0" :max="10" :allow-empty="false" highlight-on-focus
                           @input="updateModel" @mousedown="selectAll"></p-inputnumber>
         </label>

         <label>Размер шрифта
            <p-inputnumber v-model="fontSize" suffix=" пт" show-buttons :min="10" :max="100" :allow-empty="false" highlight-on-focus
                           @input="updateModel" @mousedown="selectAll"></p-inputnumber>
         </label>

         <div>
            <div class="label">
            Названия дней недели
         </div>
            <div>
               <span class="monospace">#{{ weekDaysColor }}</span>
               <p-colorpicker v-model="weekDaysColor" append-to="self"></p-colorpicker>
               <div v-show="weekDaysColor != weekDaysColorDef" class="reset-color pi pi-replay" title="Восстановить цвет по умолчанию"
                    @click="weekDaysColor = weekDaysColorDef"></div>
            </div>
         </div>

         <div>
            <label>Номера недели
               <div>
                  <p-inputswitch v-model="weekNumbers" @click.prevent></p-inputswitch>
               </div>
            </label>
            <div v-show="weekNumbers">
               <span class="monospace">#{{ weeksColor }}</span>
               <p-colorpicker v-model="weeksColor" append-to="self"></p-colorpicker>
               <div v-show="weeksColor != weeksColorDef" class="reset-color pi pi-replay" title="Восстановить цвет по умолчанию"
                    @click="weeksColor = weeksColorDef"></div>
            </div>
         </div>

         <label>Смежные месяцы
            <div>
               <p-inputswitch v-model="daysOutside" @click.prevent></p-inputswitch>
            </div>
         </label>

         <label>Отображать год
            <div>
               <p-inputswitch v-model="yearNumber" @click.prevent></p-inputswitch>
            </div>
         </label>
         
         <p-button label="Печать" icon="pi pi-print" :loading="printLoading" @click="printPage"></p-button>
      </div>

      <div id="toast">
         <div class="info"><a href="https://www.consultant.ru/law/ref/calendar/proizvodstvennye/" target="_blank">Производственный календарь КонсультантПлюс для сверки</a></div>
      </div>
   </body>
</html>
