<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Календарь</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:title" content="">
      <meta property="og:type" content="">
      <meta property="og:url" content="">
      <meta property="og:image" content="">

      <link rel="icon" href="./vanilla/favicon.ico" />

      <!-- Vanilla CSS, JS -->
      <link href="./vanilla//vanilla-calendar.min.css" rel="stylesheet">
      <script src="./vanilla/vanilla-calendar.min.js" defer></script>
      
      <!-- Vue CSS, JS -->
      <link href="https://unpkg.com/primevue@3/resources/themes/saga-green/theme.css" rel="stylesheet" />
      <link href="https://unpkg.com/primeicons@6.0.1/fonts/primeicons.woff2" as="font" type="font/woff2" rel="preload" crossorigin>
      <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
      <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
      <script src="https://unpkg.com/primevue@3/core/core.min.js" defer></script>
      <script src="https://unpkg.com/primevue@3/button/button.min.js" defer></script>
      <script src="https://unpkg.com/primevue@3/fileupload/fileupload.min.js" defer></script>
      <script src="https://unpkg.com/primevue@3/inputnumber/inputnumber.min.js" defer></script>
      <script src="https://unpkg.com/primevue@3/inputswitch/inputswitch.min.js" defer></script>

      <!-- User CSS, JS -->
      <link href="./style.css" rel="stylesheet">
      <script src="./holidays.js" defer></script>
      <script src="./calendar.js" defer></script>
      <script src="./ui.js" defer></script>
      
      <style type="text/css" id="pageSize"></style>
   </head>
   
   <body id="app" v-cloak>
      <div :class="{ 'outside-days-disabled': !daysOutside, 'week-numbers-disabled': !weekNumbers, 'year-number-disabled': !yearNumber }"
           :style="{ 'font-size': fontSize+'pt', '--bg': bgUrl, '--page-width': pageSize[0]+'cm', '--page-height': pageSize[1]+'cm' }">
         <div id="calendar"></div>
      </div>
      <div id="calendar_preview_year"></div>
      <div id="sidebar">
         <h1>Производственный календарь РФ<br>(конструктор на <span id="header_year">2024</span> год)</h1>

         <div id="settings">
            <h2>Настройки</h2>
            
            <div>
               <label>Фон</label>
               <div>
                  <p-fileupload mode="basic" accept="image/*" choose-label="Выбрать" auto custom-upload @select="bgSelect"></p-fileupload>
                  <p-button icon="pi pi-times" severity="secondary" :disabled="!bg" @click="bgClear"></p-button>
               </div>
            </div>

            <div>
               <label>Размер бумаги</label>
               <p-dropdown v-model="pageSize" :options="sizes" option-label="label" option-value="value"></p-dropdown>
            </div>
            
            <div>
               <label>В обрез</label>
               <p-inputnumber v-model="cutoff" suffix=" мм" show-buttons :min="0" :max="10" :allow-empty="false"></p-inputnumber>
            </div>

            <div>
               <label>Размер шрифта</label>
               <p-inputnumber v-model="fontSize" suffix=" пт" show-buttons :min="0" :max="100" :allow-empty="false"></p-inputnumber>
            </div>

            <div>
               <label>Номер года</label>
               <div>
                  <p-inputswitch v-model="yearNumber"></p-inputswitch>
               </div>
            </div>

            <div>
               <label>Номера недели</label>
               <div>
                  <p-inputswitch v-model="weekNumbers"></p-inputswitch>
               </div>
            </div>

            <div>
               <label>Смежные месяцы</label>
               <div>
                  <p-inputswitch v-model="daysOutside"></p-inputswitch>
               </div>
            </div>
            
            <p-button label="Печать" icon="pi pi-print" :loading="loading" @click="printPage"></p-button>
         </div>
      </div>

      <div id="toast">
         <div class="info"><a href="https://www.consultant.ru/law/ref/calendar/proizvodstvennye/" target="_blank">Производственный календарь КонсультантПлюс для сверки</a></div>
      </div>
   </body>
</html>
