@charset "UTF-8"; 

/* Основные стили */
:root {
   font-family: system-ui, sans-serif;
}
[v-cloak] {
   display: none;
}
.p-colorpicker-panel[data-pc-section="panel"] {
   border-radius: 3px;
}
.p-colorpicker-panel[data-pc-section="content"] {
   border: none;
   background: none;
   box-shadow: none;
}
.p-inputswitch {
   display: block !important;
}
h1 {
   font-size: 1.3rem;
   font-weight: 500;
   margin: 0px -10px 1.3rem 0;
   cursor: default;
}
#calendar_preview_year {
   position: fixed;
   inset: auto 1rem 0.1rem;
   display: flex;
   font-size: 3rem;
   justify-content: space-between;
   color: rgb(197 156 101);
   z-index: -1;
}
#calendar_preview_year::before, #calendar_preview_year::after {
   content: attr(data-year);
}
body {
   margin: 0;
   color: rgb(0 0 0);
}
button {
   color: inherit;
   font-family: inherit;
}
.vanilla-calendar button {
   background: none;
   outline: none !important;
}
.vanilla-calendar {
   margin: 0 auto;
   padding: 0;
}
.vanilla-calendar-grid {
   gap: 0;
   grid-auto-flow: row;
}

/* Панель слева, настройки */
#settings {
   position: fixed;
   inset: 0 auto auto 0;
   display: flex;
   font-size: 14.5px;
   flex-direction: column;
   padding: 20px 25px 23px 30px;
   width: 350px;
   border-bottom-right-radius: 5px;
   background: rgb(233 233 233 / 70%);
   backdrop-filter: blur(3px);
}
#settings :is(label, .label) {
   user-select: none;
}
#settings :is(label, .label), #settings > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 55px;
}
#settings .label:hover .p-dropdown:not(.p-disabled) {
   border-color: #4CAF50;
}
#settings label:hover .p-inputswitch:not(.p-disabled) .p-inputswitch-slider {
   background: #b6bfc8;
}
#settings label:hover .p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider {
   background: #449e48;
}
#settings :is(label, .label) > :last-child:not(:has(.p-inputswitch)) {
   display: flex;
   width: 155px;
}
#settings label:has(.p-inputswitch) {
   width: 183px;
}
#settings .p-button:focus {
   z-index: 1;
}
#settings .p-fileupload-basic {
   flex-grow: 1;
}
#settings .p-fileupload-basic:has(+ .p-button-icon-only) .p-button {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 100%;
}
#settings .p-fileupload-basic .p-icon {
   display: none;
}
#settings .p-fileupload-basic + .p-button-icon-only {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   margin-left: 1px;
}
#settings .p-inputnumber-input {
   width: 100%;
}
#settings .p-colorpicker {
   align-self: baseline;
}
#settings .p-colorpicker-preview {
   width: 1.75rem;
   height: 1.75rem;
   transition-property: color, border-color, box-shadow;
}
#settings .p-button-icon-left::before {
   display: inline-block;
   width: 1rem;
}
#settings .monospace {
   font: 13px/1.5 monospace;
   display: inline-block;
   color: #333;
   padding-right: 9px;
   vertical-align: text-bottom;
   user-select: all;
}
#settings div:has(.reset-color) {
   position: relative;
}
#settings .reset-color {
   position: absolute;
   top: 2px;
   right: -24px;
   font-size: 13px;
   color: #737373;
   width: 19px;
   height: 85%;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: color 0.2s, text-shadow 0.2s;
}
#settings .reset-color:hover {
   color: #449e48;
   text-shadow: 0 0 3px #b7e0b8, 0 0 3px #b7e0b8;
}
#settings > button {
   font-size: 17px;
   align-self: center;
   margin-top: 10px;
   padding: 9px 50px;
}

/* Уведомления */
#toast {
   position: fixed;
   inset: 10px 10px auto auto;
   font-size: 15px;
   color: #313131;
}
#toast > div {
   padding: 17px 20px;
   margin-bottom: 10px;
   border-radius: 5px;
   width: 250px;
}
#toast a {
   color: inherit;
   text-underline-offset: 2px;
   text-decoration-color: #cbcbcb;
   text-decoration-skip-ink: none;
}
#toast .info {
   background: rgb(215 241 255 / 70%);
   backdrop-filter: blur(3px);
}
#toast .warn {
   background: rgb(251 226 204 / 70%);
   backdrop-filter: blur(3px);
}

/* Страница календаря */
.vanilla-calendar-column {
   width: calc(var(--page-width) + var(--cutoff) * 2);
   height: calc(var(--page-height) + var(--cutoff) * 2);
   padding: var(--cutoff) calc(1.7% + var(--cutoff)) 0;
   background-image: var(--bg);
   background-size: cover;
   outline: 2px dashed rgb(125 125 125);
   outline-offset: calc(-1px - var(--cutoff));
   page-break-after: always;
}

/* Месяц, Год */
.vanilla-calendar-header {
   padding: 0;
   margin-top: 0.95em;
   margin-bottom: 0.5em;
}
.vanilla-calendar-month, .vanilla-calendar-year {
   font-size: 0.75em;
   font-weight: normal;
   line-height: 1;
   padding: 0;
}
.vanilla-calendar-year::before {
   content: " ";
}
.year-number-disabled .vanilla-calendar-year {
   display: none;
}

/* Расстояние между строк */
.vanilla-calendar-week-numbers__content,
.vanilla-calendar-days {
   row-gap: 0.33em;
}

/* Названия дней недели: пн, вт, ср, ... */
.vanilla-calendar-week,
.vanilla-calendar-week-numbers__title {
   font-size: 0.5em;
   margin-bottom: 0.7em; 
}
.vanilla-calendar-week__day {
   font-size: 1em;
}
.vanilla-calendar-week__day,
.vanilla-calendar-week-numbers__title {
   font-weight: normal;
   text-transform: lowercase;
   line-height: 1;
   color: var(--week-days-color);
}

/* Дни месяца */
.vanilla-calendar-day__btn {
   font-size: 1em;
   font-weight: 700;
   line-height: 1;
   padding: 0;
}

/* Выходные и праздничные дни */
.vanilla-calendar-day__btn_holiday {
   color: rgb(242 125 109);
   font-weight: 500;
}

/* Дни прошлого и следующего года */
.vanilla-calendar-day__btn_disabled {
   display: none;
}

/* Дни прошлого и следующего месяца */
.outside-days-disabled :is(.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next) {
   display: none;
}
.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next {
   color: rgb(181 181 181);
   font-weight: 100;
}

/* Выходные дни прошлого и следующего месяца */
.vanilla-calendar-day__btn_holiday:is(.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next) {
   color: rgb(241 153 142);
}

/* Номера недели */
.week-numbers-disabled .vanilla-calendar-week-numbers {
   display: none;
}
.vanilla-calendar-week-numbers__title {
   visibility: hidden;
}
.vanilla-calendar-week-numbers {
   flex-grow: 0;
}
.vanilla-calendar-week-numbers .vanilla-calendar-week-numbers__content {
   padding: 0 0.33em;
   border: 0.03em hidden rgb(179 179 179);
}
.vanilla-calendar-week-numbers:first-of-type .vanilla-calendar-week-numbers__content {
   border-right-style: solid;
}
.vanilla-calendar-week-numbers:last-of-type .vanilla-calendar-week-numbers__content {
   border-left-style: solid;
}
.vanilla-calendar-week-number {
   font: 300 0.5em/2.5 math, serif;
   align-items: baseline;
   height: 2em;
   color: var(--weeks-color);
   cursor: default;
}



/* Для печати */
@media print {
   .vanilla-calendar-column {
      width: 100vw;
      height: 100vh;
      outline: none;
   }
   #settings, #calendar_preview_year, #toast {
      display: none;
   }
}
