@charset "UTF-8"; 

/* Основные стили */
:root {
   font-family: system-ui, sans-serif;
}
[v-cloak] {
   display: none;
}
h1 {
   font-size: 1.3rem;
   font-weight: 500;
   padding: 1rem 0.7rem;
   margin: 0 0 1.5rem;
   border-bottom-right-radius: 5px;
   background: rgb(255 255 255 / 80%);
   backdrop-filter: blur(3px);
}
#calendar_preview_year {
   position: fixed;
   inset: auto 1rem 0.1rem;
   display: flex;
   font-size: 3rem;
   justify-content: space-between;
   color: rgb(197 156 101);
   z-index: -1;
}
#calendar_preview_year::before, #calendar_preview_year::after {
   content: attr(data-year);
}
body {
   margin: 0;
   color: #333;
}
button {
   color: inherit;
   font-family: inherit;
}
.vanilla-calendar button {
   background: none;
   outline: none !important;
}
.vanilla-calendar {
   margin: 0 auto;
   padding: 0;
}
.vanilla-calendar-grid {
   gap: 0;
   grid-auto-flow: row;
}

/* Панель слева, настройки */
#sidebar {
   position: fixed;
   inset: 0 auto auto 10px;
}
#sidebar .warning {
   background: rgb(251 192 45);
   padding-left: 13px;
   padding-right: 13px;
   border-radius: 6px;
   padding-bottom: 3px;
}
#settings {
   display: flex;
   font-size: 14.5px;
   flex-direction: column;
   gap: 20px;
   padding: 17px 20px 23px;
   width: 330px;
   border-radius: 5px;
   background: rgb(233 233 233 / 70%);
   backdrop-filter: blur(3px);
}
#settings h2 {
   font-size: 1.2rem;
   font-weight: 500;
   margin: 0;
}
#settings > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#settings > div > :last-child {
   display: flex;
   width: 53%;
}
#settings .p-button:focus {
   z-index: 1;
}
#settings .p-fileupload-basic {
   flex-grow: 1;
}
#settings .p-fileupload-basic:has(+ .p-button-icon-only) .p-button {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 100%;
}
#settings .p-fileupload-basic .p-icon {
   display: none;
}
#settings .p-fileupload-basic + .p-button-icon-only {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   margin-left: 1px;
}
#settings .p-inputtext {
   width: 100%;
}
#settings .p-button-icon-left::before {
   display: inline-block;
   width: 1rem;
}
#settings > button {
   font-size: 17px;
   align-self: center;
   margin-top: 15px;
   padding: 9px 50px;
}

/* Уведомления */
#toast {
   position: fixed;
   inset: 10px 10px auto auto;
   font-size: 15px;
   color: #313131;
}
#toast > div {
   padding: 17px 20px;
   margin-bottom: 10px;
   border-radius: 5px;
   width: 250px;
}
#toast a {
   color: inherit;
   text-underline-offset: 2px;
   text-decoration-color: #cbcbcb;
   text-decoration-skip-ink: none;
}
#toast .info {
   background: rgb(215 241 255 / 70%);
   backdrop-filter: blur(3px);
}
#toast .warn {
   background: rgb(251 226 204 / 70%);
   backdrop-filter: blur(3px);
}

/* Страница календаря */
.vanilla-calendar-column {
   width: var(--page-width);
   height: var(--page-height);
   background-image: var(--bg);
   background-size: cover;
   outline: 2px dashed rgb(171 171 171);
   outline-offset: -1px;
   page-break-after: always;
   padding: 0 1.7% 0;
}

/* Месяц, Год */
.vanilla-calendar-header {
   padding: 0;
   margin-top: 0.95em;
   margin-bottom: 0.5em;
}
.vanilla-calendar-month, .vanilla-calendar-year {
   font-size: 0.75em;
   font-weight: normal;
   line-height: 1;
   padding: 0;
}
.vanilla-calendar-year {
   display: none;
}

/* Расстояние между строк */
.vanilla-calendar-week-numbers__content,
.vanilla-calendar-days {
   row-gap: 0.33em;
}

/* Название дней недели: пн, вт, ср, ... */
.vanilla-calendar-week,
.vanilla-calendar-week-numbers__title {
   font-size: 0.5em;
   margin-bottom: 0.7em; 
}
.vanilla-calendar-week__day {
   font-size: 1em;
}
.vanilla-calendar-week__day,
.vanilla-calendar-week-numbers__title {
   font-weight: normal;
   text-transform: lowercase;
   line-height: 1;
   color: rgb(147 147 147);
}

/* Дни месяца */
.vanilla-calendar-day__btn {
   font-size: 1em;
   font-weight: 700;
   line-height: 1;
   padding: 0;
}

/* Выходные и праздничные дни */
.vanilla-calendar-day__btn_holiday {
   color: rgb(242 125 109);
   font-weight: 500;
}

/* Дни прошлого и следующего года */
.vanilla-calendar-day__btn_disabled {
   display: none;
}

/* Дни прошлого и следующего месяца */
.outside-days-disabled :is(.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next) {
   display: none;
}
.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next {
   color: rgb(181 181 181);
   font-weight: 100;
}

/* Выходные дни прошлого и следующего месяца */
.vanilla-calendar-day__btn_holiday:is(.vanilla-calendar-day__btn_prev, .vanilla-calendar-day__btn_next) {
   color: rgb(255 187 178);
}

/* Номера недели */
.week-numbers-disabled .vanilla-calendar-week-numbers {
   display: none;
}
.vanilla-calendar-week-numbers__title {
   visibility: hidden;
}
.vanilla-calendar-week-numbers {
   flex-grow: 0;
}
.vanilla-calendar-week-numbers .vanilla-calendar-week-numbers__content {
   padding: 0 0.33em;
   border: 0.03em hidden rgb(179 179 179);
}
.vanilla-calendar-week-numbers:first-of-type .vanilla-calendar-week-numbers__content {
   border-right-style: solid;
}
.vanilla-calendar-week-numbers:last-of-type .vanilla-calendar-week-numbers__content {
   border-left-style: solid;
}
.vanilla-calendar-week-number {
   font: 300 0.5em/2.5 math, serif;
   align-items: baseline;
   height: 2em;
   color: rgb(135 135 135);
   cursor: default;
}



/* Для печати */
@media print {
   .vanilla-calendar-column {
      outline: none;
      width: 100vw;
      height: 100vh;
      /*position: relative;*/
      /*left: -80px;*/
      /*right: -100px;*/
   }
   #sidebar, #calendar_preview_year, #toast {
      display: none;
   }
}
